/* https://fonts.google.com/ */
/* textarea { resize:both; }  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap");
* {
  box-sizing: border-box;
  padding: 2px 10px 2px 10px;
  margin: 2px;
  align-items: center;
  /* background: linear-gradient(0deg, #000, #262626); */
}
@font-face {
  font-family: "font-1";
  src: url("fonts/AstroSpace-eZ2Bg.ttf");
}
@font-face {
  font-family: "font-2";
  src: url("fonts/MandatoryPlaything-nRRd0.ttf");
}
@font-face {
  font-family: "font-3";
  src: url("fonts/Revamped-X3q1a.ttf");
}
@font-face {
  font-family: "font-4";
  src: url("fonts/Squaresharps-D663.ttf");
}
body {
  color: blue;
  font-family: verdana, helvetica;
  padding: 20px;
  margin: 20px;
  /* background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
      ),
      url("../img/background/alien.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; */
  background-color: lightblue;
  word-wrap: break-word;
}

div {
  padding: 0px;

  /* color: rgb(226, 208, 44);
  font-family: sans-serif;
  background-color: yellowgreen; */
}

input {
  align-items: center;
  padding: 8 px;
  margin: 10px;
  border: 1px;
  border-radius: 2px;
  background-color: rgb(248, 234, 243);
  color: blue;
}
input:hover {
  background-color: rgb(238, 222, 236);
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.label:first-of-type {
  padding-top: 0px;
}
.label:last-of-type {
  padding-bottom: 0px;
}

/* #loop {
  size: 100px;
} */
li a button {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links li a:hover {
  cursor: pointer;
  color: blue;
}
#linker {
  size: 15px;
  padding-left: 2px;
  color: rgb(230, 48, 236);
  font-size: large;
  /* background-color: #1fdbe9; */
  /* border-radius: 4px; */
  /* filter:blur(0.1px); */
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: "font-1";
  cursor: pointer;
  font-style: italic;
  text-decoration: underline;
}
.redcolor {
  padding: 0px;
  margin: 0px;
  color: red;
}
.greenyellowcolor {
  padding: 0px;
  margin: 0px;
  color: greenyellow;
}
.greencolor {
  padding: 0px;
  margin: 0px;
  color: rgb(248, 9, 236);
}
.pinkcolor {
  padding: 0px;
  margin: 0px;
  color: rgb(248, 9, 236);
}
.orangecolor {
  padding: 0px;
  margin: 0px;
  color: rgb(248, 125, 9);
}
.nocolor {
  padding: 0px;
  margin: 0px;
}
#largetext {
  font-size: 28px;
  color: rgb(26, 179, 250);
}
button{
  margin:10px 5px;
}
#arrayGen {
  display: none;
}
#arrayGenSort {
  display: none;
}
#stringGen {
  display: none;
}
#tcGen {
  display: none;
}
#permutationGen {
  display: none;
}
#permutationOfArray {
  display: none;
}
#CombOfArray{
  display: none;
}
#nextpermutationOfArray {
  display: none;
}
#permutationsOfArray {
  display: none;
}
#productOfArray{
  display:none;
}
#prevPrimeGen {
  display: none;
}
#nextPrimeGen {
  display: none;
}
#primeRangeGen {
  display: none;
}
#primeCountGen {
  display: none;
}
#spfGen {
  display: none;
}
#treeGen {
  display: none;
}
#catalanGen {
  display: none;
}
#timecalc {
  display: none;
}
#memorycalc {
  display: none;
}
#scientific {
  display: none;
}
#sciexp {
  overflow-y: auto;
}
div {
  overflow-y: auto;
}
