* {
  padding: 2px 10px 2px 10px;
  margin: 2px;
  align-items: center;
}
body {
  color: blue;
  font-family: verdana, helvetica;
  padding: 20px;
  margin: 20px;
  /* background-image: linear-gradient(
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
      ),
      url("img/confetti.jpg"); */
  /* background-repeat: no-repeat; */
  background-color: aqua;
}

div {
  color: rgb(226, 208, 44);
  font-family: sans-serif;
  background-color: yellowgreen;
}
div:hover {
  color: aliceblue;
}
input {
  align-items: center;
  padding: 8 px;
  margin: 10px;
  border: 1px;
  border-radius: 2px;
  background-color: rgb(248, 234, 243);
  color: blue;
}
input:hover {
  background-color: rgb(238, 222, 236);
}
